:root{
  --font1: 'DM Sans', sans-serif;
  --font2: 'Lexend Deca', sans-serif;
}
body {
  /* display: flex; */
  justify-content: center;
  margin: 0px;
  font-size: 10px;
}
.header{
  font-size: 2em;
  font-family: var(--font2);
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(0, 0, 0, 0.068); */
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: azure; */
}
.head1{
  
  height: 100%;
  width: 40%;
  background-color: #f3f4f5;
}
.head2{
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
  background-color: bisque;
}
.pic{
  border-radius: 50%;
  height: 300px;
}
.add{
  font-size: 2em;
  height: 1000px;
}
.main{
  box-sizing: border-box;
  padding: 0px 20px 0 20px;
  height: 1000px;
}
._1{
  display: flex;
}
.ul{
  list-style: none;
}
.contact_img{
  height: 20px;
}
.contact_text{
  text-decoration: none;
  padding-top: 5px;
  display: inline-block;
  height: auto;
  color: black;
}
.links{
  text-decoration: none;
}
.img_github{
  background-image: url("icons/github-brands.svg");
}
.footer{
  height: 6rem;
  display: flex;
  justify-content: space-between;
}
.rsIcon{
  height: 3rem;
  margin: 1rem;
}
.year{
  margin: 1rem;
  font-size: 2rem;
}
.gh{
  margin: 1rem;
  font-size: 2rem;
}
.contacts{
  margin-bottom: 3rem;
}
h2{
  margin: 0 0 1rem 1.5rem;
  font-weight: 400;
}
pre{
  padding: 1rem;
  border: solid 1px black;
  font-size: 1rem;
}